body {

	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
    color: #111;
    padding-left: 30px;
}

body h1 {
    color: rgb(53, 53, 163);
}

nav {
	color: #111;
}

